/* font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif; */
html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 80px;
  text-transform: uppercase;
}

h2 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 6px;
  line-height: normal;
  text-transform: uppercase;
}

h3 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 4px;
  line-height: normal;
  text-transform: uppercase;
}

a {
 font-family: Montserrat, sans-serif;
 font-size: 16px;
 font-style: normal;
 font-weight: normal;
 letter-spacing: normal;
 line-height: 30px;
 text-transform: none;
}

p {
  font-family: Esteban, Georgia, 'Times New Roman', serif;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 35.0999984741211px;
  text-transform: none;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin: 40px;
}

/* HEADER */

.header .col-md-4 {
  float: right;
  margin-right: 30px;
}

.header li a {

  padding: 0;
  margin: 0 10px 0 10px;
  background-color: transparent;
  color: #1b3160;
  font-size: 18px;
  border-radius: 0;
}

.header li a:hover {
  color: #B36458;
  border-bottom: 2px solid #B36458;
}

.nav, .nav-pills {
  float: right;
  height: 85px;
}

.nav li a:hover, .nav li a:focus {
  background-color: transparent;
}

/* JUMBOTRON */
.jumbotron {
  height: 660px;
  background: url("https://i.imgsafe.org/3a45eaea84.jpg") no-repeat center center;
  background-size: cover;
  margin-bottom: 0;
}

.jumbotron h2, .jumbotron p {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 3;
}

.jumbotron h2 {
  font-size: 45px;
}

.jumbotron p {
  font-size: 30px;
}

.jumbotron .container-fluid {
  margin: 0;
}

.jumbotron .row {
  margin-top: 110px;
}

.pattern-image:after {
  position: absolute;
  left: 0;
  top: 165px;
  width: 100%;
  height: 660px;
  z-index: 2;
  content: "";
  opacity: .2;
  background: #000;
  background: url("https://i.imgsafe.org/3a92c1c3f6.png");
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

/* SERVICES */
.services .container-fluid {
  height: 160px;
}

.services img {
  position: relative;
  left: 23%;
}

.services h3 {
  color: #1b3160;
  text-align: center;
}

/* ABOUT */
.about h1 {
  color: #B36458;
  text-align: center;
  margin: 0;
  height: 60px;
}

.about .col-md-4 {
  padding: 20px;
  text-align: center;
}

.about h3 {
  color: #1b3160;
}

.about p {
  font-size: 18px;
  color: #656565;
}

.line-separator {
  position: absolute;
  width: 196px;
  border: 2px solid #B36458;
  left: 42.2%;
}

.about .star p {
  color: #B36458;
  font-size: 30px;
  font-family: Arial;
  width: 150px;
  margin: 0;
  display: inline-block;
  margin: 2px;
}

/* WORK */
.work .container-fluid {
  margin-left: 25px;
}

.work .row {
  margin: 20px 30px 20px 30px;
}


/* REVIEWS */

/* CONTACT */

.washington {
  margin-top: 40px;
}

/* FOOTER */

/* Media Queries */
